version: "3.8"
services:
  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://mongo:27017/echochat_dev
      - JWT_SECRET=changeme
      - COOKIE_SECRET=changeme2
      - PORT=8080
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo-data:
